body{
    
    background-image: url('img/fondo.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    overflow-x: hidden !important;
    
    
}
  html {
      overflow-x: hidden !important;
  }
h1{
    color: white;
    font-family:'Blinker', sans-serif; ;
}
/*Barra de navegaciÃ³n*/
#barra{
    transition: 2s;
}

#barra:hover{
    background-color: rgba(0, 0, 0, 0.179);
    transition: 2s;
    backdrop-filter: blur(10px);
}

#barra a{
    color:white !important;
    transition: 2s;
}
#barra a:hover{
    color: rgb(216, 192, 255);
}

/* Estilo cuando el usuario hace scroll */
#barra.barra-scroll {
    background-color: white;
    
    transition: background-color 2s, color 2s;
}
#barra.barra-scroll a{
    color: black !important;
}
#barra.barra-scroll button{
    background-color: rgb(37, 37, 37);
}
/*Principal*/
#principal{
    margin-top:80px !important;
}
/*contenido*/
.cartel{
height: 600px;
backdrop-filter: blur(10px);
box-shadow: 2px 2px 2px black;
border-radius: 10px;
overflow: hidden;
}
.info h2{
    color: white;
    font-family: 'Blinker', sans-serif;
    border-bottom: 1px solid white;
    font-size: 30px;
}
.cartel p{
    color:white;
    font-family: 'Blinker', sans-serif;;
}

.imagen-banner{
width: 100%;
}


/*seccion de info*/
.info{
    overflow: hidden;
    position: relative;
    /*border: 10px solid white;*/
    height: 300px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    
}
.info-banner{
    color: white;
    font-family: 'Blinker', sans-serif;

}


/*banner carteles*/

#led{
    position: absolute;
    top: 0%;
    padding: 10px; 
    backdrop-filter: blur(80px);
    border-radius: 12px;
    overflow: hidden;
    transform: rotateX(360deg);
    animation: ruleta1 20s linear infinite;
    animation-delay: 0s;
    opacity: 0;
    
   
}


/*banner gadgetes*/

#Gadgets{
    position: absolute;
      top: 0%;
      padding: 10px; 
    backdrop-filter: blur(80px);
    border-radius: 12px;
    overflow: hidden;
    transform: rotateX(360deg);
    animation: ruleta1 20s linear infinite;
    animation-delay: 5s;
    opacity: 0;
    
}



/*Banner 3D3d*/
    #D3{
        position: absolute;
      top: 0%;
      padding: 10px; 
        backdrop-filter: blur(80px);
        border-radius: 12px;
        overflow: hidden;
        transform: rotateX(360deg);
        animation: ruleta1 20s linear infinite;
        animation-delay: 10s;
        opacity: 0;
        
    }