body{
    
    background-image: url('img/fondo.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    overflow-x: hidden !important;
    
    
}
  html {
      overflow-x: hidden !important;
  }
h1{
    color: white;
    font-family:'Blinker', sans-serif; ;
}
/*Barra de navegaciÃ³n*/
#barra{
    transition: 2s;
}

#barra:hover{
    background-color: rgba(0, 0, 0, 0.179);
    transition: 2s;
    backdrop-filter: blur(10px);
}

#barra a{
    color:white !important;
    transition: 2s;
}
#barra a:hover{
    color: rgb(216, 192, 255);
}

/* Estilo cuando el usuario hace scroll */
#barra.barra-scroll {
    background-color: white;
    
    transition: background-color 2s, color 2s;
}
#barra.barra-scroll a{
    color: black !important;
}
#barra.barra-scroll button{
    background-color: rgb(37, 37, 37);
}
/*Principal*/
#principal{
    margin-top:80px !important;
}