body{
    
    background-image: url('img/fondo.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    overflow-x: hidden !important;
    
}

html {
    overflow-x: hidden !important;
}

h1{
    color: white;
    font-family:'Blinker', sans-serif; ;
}